.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    display: flex;
    align-items: center;
}

.max_guest img,
.number_rooms img,
.number_bathrooms img {
    margin-right: 5px;
}

.user {
    font-weight: bold;
}

.description {
    margin-top: 20px;
}

